/* side bar styles*/
.wd-container {
    display: flex;
}

.wd-sidebar {
    width: 275px;
    padding: 20px;
}

.wd-sidebar-menu {
    list-style-type: none; /* delete the dots before each navigation row */
    padding: 0;
    margin: 0;
}

.wd-sidebar-menu li {
    margin-bottom: 15px;
}

.wd-sidebar-menu a {
    text-decoration: none;
    color: #1da1f2;
    font-weight: bold;
    font-size: 15px;
}

.wd-content {
    flex: 1;
    padding: 20px;
}